/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";
* {
  font-family: 'Roboto', sans-serif;
  font-size: 13px; /* Ajusta el tamaño global */
  font-weight: 400; /* Peso estándar */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* :root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --text-color: #333333;
    --background-color: #f4f4f4;
  } */



  .stronggreen{
    background-color: #00e701;
  }
  .strongblack{
    background-color: #0b0e0f;
    color:#ffffff;
  }
  .midblack{
    background-color: #191b1f;
  }
  .lightblack{
    background-color: #24272c;
  }
  .extraligthblack{
    background-color: #474f54;
  }
  .light{
    background-color: white;
    color: #191b1f;
  }

  .strongblack:focus{
    background-color: #00d701;
    border: none;
    color:#0b0e0f;
  }
  .textgreen{
    color:#00e701
  }
  body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Previene el scroll horizontal */
  }