

.img{
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 25%;
    display: inline-block;
}
.gradient{
 height: 10px;
 
 background: linear-gradient(to bottom,white,black);
}
.border-img{
    border: 3px solid #474f54; 
}
.font-lightbold{
    font-weight: medium;
    font-size: 24px;
    opacity: 0.92;

}

.homesize{
    height: 820px;
}
.title-translucient{
    
        font-family: 'Poppins', sans-serif; /* Usa una fuente moderna */
         /* Color del texto */
        font-size: 4rem; /* Ajusta según el tamaño deseado */
        font-weight: 700; /* Asegúrate de que sea bold */
        color: transparent; /* Hace el texto vacío */
        -webkit-text-stroke: 1.4px rgb(255, 255, 255); /* Aplica el contorno */
         /* Opcional, para centrar */
}
.san-serif{
    font-family: 'Poppins', sans-serif;
}
.emoji{
    height: 400px;
    width: 400px;
}
.margin-top{
    margin-top: 170px;
}
.margin-start{
    margin-left: 100px;
}
a:active,
a:focus{
   background-color: #00e701;
   color:black;
}