<!--NAVBAR-->
<nav class="navbar navbar-expand-lg strongblack">
  <div class="container-fluid">
    <a
      class="navbar-brand ms-lg-4 ms-sm-0 align-items-sm-center justify-content-sm-center"
      href="home"
    >
      <img
        src="lgcut.png"
        alt="Logo"
        width="70"
        height="40"
        class="d-inline-block align-text-top"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      style="background-color: white"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end me-5"
      id="navbarNav"
    >
      <ul class="navbar-nav align-items-center">
        <li class="nav-item m-2">
          <button type="button" class="btn strongblack fw-bold">Home</button>
        </li>
        <li class="nav-item m-2">
          <button type="button" class="btn strongblack fw-bold" href="proyects">
            Proyects
          </button>
        </li>
        <li class="nav-item m-2">
          <button type="button" class="btn strongblack fw-bold" href="about">
            About
          </button>
        </li>
        <li class="nav-item m-2">
          <button type="button" class="btn strongblack fw-bold" href="skills">
            Skills
          </button>
        </li>
        <li class="nav-item m-2">
          <button type="button" class="btn strongblack fw-bold" href="contact">
            Contact
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--NAVBAR-->

<body class="conteiner-fluid" id="backgroundanimado">
  <!--HOME-->
  <div class="midblack">
    <div class="row"></div>
    <div class="row">
      <div class="col-1 stronggreen homesize"></div>
      <div class="col-6 midblack homesize">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-11 margin-top">
            <p class="display-3 title-translucient">Hi there, I'm</p>
            <p class="display-1 text-white fw-bolder sans-serif">Nahuel Vega</p>
            <p class="display-3 title-translucient">Full Stack Developer</p>
            <p
              class="display-6 font-lightbold fw-semibold text-white sans-serif"
            >
              I’m passionate about crafting innovative <br />
              solutions that bridge technology and <br />
              user needs, driven by curiosity and a <br />
              problem-solving mindset.
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-5 lightblack homesize d-flex align-content-end justify-content-center"
      >
        <div class="margin-top row justify-content-center">
          <img
            class="emoji col-12"
            src="https://imgproxy.attic.sh/unsafe/rs:fit:540:540:1:1/t:1:FF00FF:false:false/aHR0cHM6Ly9hdHRp/Yy5zaC93N2M2Zndq/eW9xMWMzeXY3MTlq/cGV6c2w0cDRt.webp"
            alt=""
          />
          <br />
          <p-button
            class="mt-3 col-12"
            label="Success"
            [rounded]="true"
            severity="success"
          />
        </div>
      </div>
    </div>
  </div>
  <!--HOME-->
  <!--PROYECTS-->
  <div id="proyects">proyects</div>
  <!--PROYECTS-->
  <!--ABOUT-->
  <div id="about" class="strongblack">about</div>
  <!--ABOUT-->

  <!--SKILLS-->
  <div class="conteiner-fluid strongblack" id="skills">
    <div class="row gradient"></div>
    <div class="row">
      <div class="col-12 mt-3">
        <h1 class="fw-bold display-2 text-center">SKILLS</h1>
      </div>
    </div>
    <div class="row">
      <h1 class="display-6 text-start ms-5 textgreen mt-5 mb-1">Front-end</h1>
    </div>
    <div class="row ms-4 mb-4 me-4">
      <div class="col-auto align-items-center justify-content-center m-1">
        <p-card header="" class="">
          <img
            src="https://icons.iconarchive.com/icons/cornmanthe3rd/plex/512/Other-html-5-icon.png"
            alt=""
            class="img border-img"
          />
          <p class="m-0 mt-1 fw-bold">HTML</p>
        </p-card>
      </div>
      <div class="col-auto align-items-center justify-content-center m-1">
        <p-card header="" class="">
          <img
            src="https://www.adaweb.es/wp-content/uploads/2022/05/logotipo_css-min.png"
            alt=""
            class="img border-img"
          />
          <p class="m-0 mt-1 fw-bold">CSS</p>
        </p-card>
      </div>
      <div class="col-auto align-items-center justify-content-center m-1">
        <p-card header="" class="">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1200px-Unofficial_JavaScript_logo_2.svg.png"
            alt=""
            class="img border-img"
          />
          <p class="m-0 mt-1 fw-bold">Javascript</p>
        </p-card>
      </div>
      <div class="col-auto align-items-center justify-content-center m-1">
        <p-card header="" class="">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/1024px-Typescript_logo_2020.svg.png"
            alt=""
            class="img border-img"
          />
          <p class="m-0 mt-1 fw-bold">Typescript</p>
        </p-card>
      </div>
      <div class="col-auto align-items-center justify-content-center m-1">
        <p-card header="" class="">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqf-Kqyd8dSvhhufDguf9CsTZStGVsoSQ5dg&s"
            alt=""
            class="img border-img"
          />
          <p class="m-0 mt-1 fw-bold">Bootstrap</p>
        </p-card>
      </div>
      <div class="col-auto align-items-center justify-content-center m-1">
        <p-card header="" class="">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlRRu00fNJIdUKuSSZNm_ZvvBU0vagVilcCQ&s"
            alt=""
            class="img border-img"
          />
          <p class="m-0 mt-1 fw-bold">Angular 18</p>
        </p-card>
      </div>
      <div class="col-auto align-items-center justify-content-center m-1">
        <p-card header="" class="">
          <img
            src="https://assets.streamlinehq.com/image/private/w_300,h_300,ar_1/f_auto/v1/icons/logos/primeng-p1idp43jp5eo7fldqh2rsn.png/primeng-rmzzznumiscqq312n5m3wf.png?_a=DAJFJtWIZAAC"
            alt=""
            class="img border-img"
          />
          <p class="m-0 mt-1 fw-bold">Prime NG</p>
        </p-card>
      </div>
    </div>

    <div class="row">
      <h1 class="display-6 text-start ms-5 textgreen">Back-end</h1>
    </div>
    <div class="row ms-4 mb-4 me-4">
      <div class="col-auto align-items-center justify-content-center m-1">
        <p-card header="" class="">
          <img
            src="https://thinkotb.b-cdn.net/wp-content/uploads/2023/01/c-4.svg"
            alt=""
            class="img border-img"
          />
          <p class="m-0 mt-1 fw-bold">C#</p>
        </p-card>
      </div>
      <div class="col-auto align-items-center justify-content-center m-1">
        <p-card header="" class="">
          <img
            src="https://cdn-icons-png.flaticon.com/512/226/226777.png"
            alt=""
            class="img border-img"
          />
          <p class="m-0 mt-1 fw-bold">Java</p>
        </p-card>
      </div>
      <div class="col-auto align-items-center justify-content-center m-1">
        <p-card header="" class="">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Microsoft_.NET_logo.svg/800px-Microsoft_.NET_logo.svg.png"
            alt=""
            class="img border-img"
          />
          <p class="m-0 mt-1 fw-bold">.NET</p>
        </p-card>
      </div>
      <div class="col-auto align-items-center justify-content-center m-1">
        <p-card header="" class="">
          <img
            src="https://media.trustradius.com/product-logos/9B/8G/IMJEF6VWC74S.PNG"
            alt=""
            class="img border-img"
          />
          <p class="m-0 mt-1 fw-bold">Spring</p>
        </p-card>
      </div>
      <div class="col-auto align-items-center justify-content-center m-1">
        <p-card header="" class="">
          <img
            src="https://www.tec-innova.mx/wp-content/uploads/2021/12/Imagen1.png"
            alt=""
            class="img border-img"
          />

          <p class="m-0 mt-1 fw-bold">MySQL, PostgreSQL</p>
        </p-card>
      </div>
      <div class="col-auto align-items-center justify-content-center m-1">
        <p-card header="" class="">
          <img
            src="https://images.emojiterra.com/google/android-12l/512px/1f9ea.png"
            alt=""
            class="img border-img"
          />
          <p class="m-0 mt-1 fw-bold">Testing</p>
        </p-card>
      </div>

      <div class="col-auto align-items-center justify-content-center m-1">
        <p-card header="" class="">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2ZYtHv2OLXmthRPbkmENZRXuqBVDwlsrZ1A&s"
            alt=""
            class="img border-img"
          />
          <p class="m-0 mt-1 fw-bold">MongoDB</p>
        </p-card>
      </div>
    </div>

    <div class="row"></div>
    <div class="row">
      <h1 class="display-6 text-start ms-5 textgreen">Others</h1>
    </div>
    <div class="row ms-4 me-4">
      <div class="col-auto align-items-center justify-content-center m-1">
        <p-card header="" class="">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIkPmq5EtUoJXdquZoBuZ9qN6sOuk195RSew&s"
            alt=""
            class="img border-img"
          />
          <p class="m-0 mt-1 fw-bold">Docker</p>
        </p-card>
      </div>
      <div class="col-auto align-items-center justify-content-center m-1">
        <p-card header="" class="">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxoRNdFEOyEA1DuG_oqP_6MDCMtUKlfgmreSzxH-0vceiHb34OSNlFcnt6yyeZ-DDpHW0&usqp=CAU"
            alt=""
            class="img border-img"
          />
          <p class="m-0 mt-1 fw-bold">Git/GitHub</p>
        </p-card>
      </div>
      <div class="col-auto align-items-center justify-content-center m-1">
        <p-card header="" class="">
          <img
            src="https://store-images.s-microsoft.com/image/apps.29355.49e39246-7603-4df4-af38-57fd1df6d0e9.3b2e051e-d49e-42c8-8d4a-0f7090b4308c.6f1b683b-b69f-4f22-a102-08f098b0c36e.png"
            alt=""
            class="img border-img"
          />
          <p class="m-0 mt-1 fw-bold">Postman</p>
        </p-card>
      </div>
      <div class="col-auto align-items-center justify-content-center m-1">
        <p-card header="" class="">
          <img
            src="https://seeklogo.com/images/S/swaggerhub-logo-52BE4455D6-seeklogo.com.png"
            alt=""
            class="img border-img"
          />
          <p class="m-0 mt-1 fw-bold">Swagger</p>
        </p-card>
      </div>
      <div class="col-auto align-items-center justify-content-center m-1">
        <p-card header="" class="">
          <img
            src="https://cdn.worldvectorlogo.com/logos/jira-1.svg"
            alt=""
            class="img border-img"
          />
          <p class="m-0 mt-1 fw-bold">Jira</p>
        </p-card>
      </div>
      <div class="col-auto align-items-center justify-content-center m-1">
        <p-card header="" class="">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHXzz-1CDnr-2udq1fZJBTWhL_W4t3kCO3xI-QDsRJfm69fWwu5owGY-lmvqRGL_UxrTM&usqp=CAU"
            alt=""
            class="img border-img"
          />
          <p class="m-0 mt-1 fw-bold">Scrum</p>
        </p-card>
      </div>
      <div class="row" style="height: 40px"></div>
    </div>
  </div>
  <!--SKILSS-->

  <!--CONTACT-->
  <div id="contact" class="lightblack mt-0 container-fluid">
    <div class="row">
      <div class="col-6"></div>
      <div class="col-6"></div>
    </div>
  </div>
  <!--CONTACT-->
</body>
